body {
    font: 16px/28px 'Microsoft YaHei';
}
h1 {
    text-align: center;
    font-weight: 400;
}
p {
  text-indent: 2em;
}
.pic {
    text-align: center;
}
.footer{
    color: #888;
    font-size: 12px;
}