@font-face {
  font-family: "iconfont"; /* Project id 3790818 */
  src: url('iconfont.woff2?t=1669281496937') format('woff2'),
       url('iconfont.woff?t=1669281496937') format('woff'),
       url('iconfont.ttf?t=1669281496937') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-huizhixueyuan:before {
  content: "\e711";
}

.icon-fangyuanliebiao:before {
  content: "\e710";
}

.icon-huiyiyuding:before {
  content: "\e712";
}

.icon-kejichanyefuwu:before {
  content: "\e713";
}

